<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<!--  Link Bootstrap -->
<!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" media="all" href="/css/bootstrap.min.css"
         th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<!--  Navbar -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #00B3FF;">
  <a class="navbar-brand" href="/online-music-store/">Online-music-store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/online-music-store/">Home <span class="sr-only">(current)</span></a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<div class="container">
<h2 style="margin-top:20px">Add Product</h2>
<p>Fill the below information to add a product:</p>

<form action="#" th:action="@{/online-music-store/admin/processAddProductForm}"
						 th:object="${product}" method="POST" enctype="multipart/form-data">
<p><label class="font-weight-bold">Name</label>
<input style="width:100%" type="text" th:field="*{productName}" /></p>
<p><label style="padding-right:20px" class="font-weight-bold">Category</label>
	
	 <input type="radio" name="category" value="instrument" th:field="*{productCategory}" />                          Instrument
	 <input type="radio" name="category" value="record" style="margin-left:20px" th:field="*{productCategory}" />     Record
	 <input type="radio" name="category" value="accessory" style="margin-left:20px" th:field="*{productCategory}" />   Accessory
</p>

<p><label class="font-weight-bold">Description</label>
<textarea style="width:100%" rows="2" th:field="*{productDescription}">
</textarea></p>

<p><label class="font-weight-bold">Price</label>
<input style="width:100%" type="text" th:field="*{productPrice}" />
</p>

<p><label style="padding-right:20px" class="font-weight-bold">Condition</label>
	 <input type="radio" name="condition" value="new" th:field="*{productCondition}" />                              New
	 <input type="radio" name="condition" value="used" style="margin-left:20px" th:field="*{productCondition}" />     Used
</p>

<p><label style="padding-right:20px" class="font-weight-bold">Status</label>
	 <input type="radio" name="status" value="active" th:field="*{productStatus}" />                              Active
	 <input type="radio" name="status" value="inactive" style="margin-left:20px" th:field="*{productStatus}" />   Inactive
</p>

<p><label class="font-weight-bold">Unit In Stock</label>
<input style="width:100%" type="text" th:field="*{unitInStock}" /></p>

<p><label class="font-weight-bold">Manufacturer</label>
<input style="width:100%" type="text" th:field="*{productManufacturer}" /></p>

<p><input type="file" name="file" th:field="*{productImage}" /></p>
<br />

<button type="submit" class="btn btn-success">Submit</button>
<button type="button" class="btn btn-danger">Cancel</button>


</form> 



</div>

<p class="pull-right" style="float:right "><a href="#">Back to top</a></p>

<p style="margin-top:100px">&copy; 2019 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery ||
document.write('<script src="<c:url value="/resources/js/jquery-1.11.3.min.js" />"><\/script>')</script>
<script src="<c:url value="/resources/js/bootstrap.min.js" />"></script>

</body>
</html>