<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<!--  Link Bootstrap -->
<!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" media="all" href="/css/bootstrap.min.css"
         th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<!--  Navbar -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #00B3FF;">
  <a class="navbar-brand" href="/online-music-store/">Online-music-store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/online-music-store/">Home <span class="sr-only">(current)</span></a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container-wrapper">
	<div style="margin-top:50px" class="container">
		<h2>Administrator Page</h2>
		<p>This is the administrator page</p>
		<hr style="margin-top:25px"/>
		<h4 style="color:#CC99FF">Product Inventory</h4>
		<p>Here you can view, check and modify the product Inventory</p>
	</div>
</div>

<p class="pull-right" style="float:right "><a href="#">Back to top</a></p>

<p style="margin-top:100px">&copy; 2019 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery ||
document.write('<script src="<c:url value="/resources/js/jquery-1.11.3.min.js" />"><\/script>')</script>
<script src="<c:url value="/resources/js/bootstrap.min.js" />"></script>
</body>
</html>