<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<!--  Link Bootstrap -->
<!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" media="all" href="/css/bootstrap.min.css"
         th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<table class="table table-hover">
<thead>
	<tr>
		<th scope="col">Product Name</th>
        <th scope="col">Category</th>
        <th scope="col">Condition</th>
        <th scope="col">Price</th>
	</tr>
</thead>
	<tr>
		<td th:text="${prod1.productName}"></td>
		<td th:text="${prod1.productCategory}"></td>
		<td th:text="${prod1.productCondition}"></td>
		<td th:text="${prod1.productPrice}"></td>
	</tr>
</table>
</body>
</html>